@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

*,
::after,
::before {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  background-size: 200px;
  transition: all 1s linear;
  background-image: url("../img/background.svg");
  user-select: none;
}

#game-container {
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-image: url("../img/background.svg");
  background-size: 200px;
}

#board {
  position: relative;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  width: 75%;
  height: 100%;
  margin: 20px auto;
}

.cell {
  border: 1px solid #ccc;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  background: linear-gradient(
    127deg,
    rgba(69, 123, 226, 1) 0%,
    rgba(166, 102, 236, 1) 35%,
    rgba(120, 213, 95, 1) 100%
  );
  padding: 20px;
  min-height: 170px;
  min-width: 125px;
  z-index: 1;
  cursor: grabbing;
  background-color: #d1d1d1;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  box-sizing: border-box;
  animation: rubber-band 1s 300ms forwards;
}

.cell::after {
  content: attr(data-emojis);
  font-size: 4rem;
  position: absolute;
  z-index: -1;
  filter: blur(1.5px);
  bottom: 0;
}

.cell-active-players {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 70%;
  animation: bounce 2s 300ms;
  animation-iteration-count: 1;
  transform-origin: center bottom;
}

.cell:hover {
  background-color: #e1e1e1;
}

.currentPlayer.cell::after {
  animation: heart-beat 1.3s 2s ease-in-out forwards;
  animation-iteration-count: 2;
  filter: none;
}

.currentPlayer .cell-active-players {
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.currentPlayer {
  animation-duration: 1s;
  animation-name: zoom-in-out;
  animation-iteration-count: 1;
  transform: scale(1.5);
  z-index: 2;
  filter: drop-shadow(2px 4px 6px black);
}

.player-token {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-weight: bolder;
}

button {
  --_color: hsl(0 0% 99%);
  --_background: hsl(206 6% 24%);
  --_active: hsl(216 3% 38%);
  font: inherit;
  font-size: 1rem;
  color: var(--_color, hsl(0 0% 90%));
  background: var(--_background, hsl(0 0% 20%));
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  border: none;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  transition: scale 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);
  transform-origin: 50% 100%;
  cursor: pointer;
}

button:focus {
  outline-offset: 0.25rem;
  outline-color: var(--_background, hsl(0 0% 20%));
}

button:disabled {
  --_background: hsl(207, 33%, 58%);
  cursor: not-allowed;
}

.page_wrap {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
  align-items: center;
}

.dice_container_One {
  grid-area: 3/ 2/ 4/ 3;
  position: fixed;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  flex-grow: inherit;
  flex-shrink: inherit;
  flex-wrap: wrap;
  width: 100px;
  height: 100px;
  bottom: 5%;
  right: 15%;
  z-index: 10;
}

.dice {
  position: absolute;
  width: 100px;
  height: 100px;
  padding: 15%;
  background-color: aliceblue;
  border: solid 0.15rem black;
  border-radius: 1.5rem;
  box-shadow: 0.05rem 0.8rem 0.8rem rgba(0, 0, 0, 0.12);
}

.dot {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin: 0.25rem;
  background-color: black;
}

/* :: set a grid for the dice :: */
.diceGrid {
  display: grid;
  grid-column: 1fr 1fr 1fr;
  grid-row: 1fr 1fr 1fr;
}

.dice_one_f1,
.dice_one_f2,
.dice_one_f3,
.dice_one_f4,
dice_one_f5,
dice_one_f6 {
  z-index: 0;
}

.active_dice {
  z-index: 1;
  animation: dice-roll 1s;
}

.dice_one_f1,
.dice_one_f3,
.dice_one_f5 {
  justify-content: center;
}

.dice_one_f1 :nth-child(1) {
  grid-area: 2 / 2 / 2 /2;
}

.dice_one_f2 .dot {
  margin-left: 20%;
}

.dice_one_f2 :nth-child(1) {
  grid-area: 1 / 1 / 1;
}

.dice_one_f2 :nth-child(2) {
  grid-area: 3 / 3 / 3;
}

.dice_one_f3 :nth-child(1) {
  grid-area: 1/ 1/ 1;
}

.dice_one_f3 :nth-child(2) {
  grid-area: 2/ 2/ 3;
}

.dice_one_f3 :nth-child(3) {
  grid-area: 3/ 3/ 3;
}

.dice_one_f4 .dot {
  margin: 20%;
}

.dice_one_f4 :nth-child(1) {
  grid-area: 1/ 1/ 1;
}

.dice_one_f4 :nth-child(2) {
  grid-area: 1/ 3/ 1;
}

.dice_one_f4 :nth-child(3) {
  grid-area: 3/ 1/ 3;
}

.dice_one_f4 :nth-child(4) {
  grid-area: 3/ 3/ 3;
}

.dice_one_f5 :nth-child(1) {
  grid-area: 1/ 1/ 1;
}

.dice_one_f5 :nth-child(2) {
  grid-area: 1/ 3/ 1;
}

.dice_one_f5 :nth-child(3) {
  grid-area: 2/ 2/ 2;
}

.dice_one_f5 :nth-child(4) {
  grid-area: 3/ 1/ 3;
}

.dice_one_f5 :nth-child(5) {
  grid-area: 3/ 3/ 3;
}

.dice_one_f6 .dot {
  margin-left: 20%;
}

.dice_one_f6 :nth-child(1) {
  grid-area: 1/1/1;
}

.dice_one_f6 :nth-child(2) {
  grid-area: 2/1/2;
}

.dice_one_f6 :nth-child(3) {
  grid-area: 3/1/3;
}

.dice_one_f6 :nth-child(4) {
  grid-area: 1/3/1;
}

.dice_one_f6 :nth-child(5) {
  grid-area: 2/3/2;
}

.dice_one_f6 :nth-child(6) {
  grid-area: 3/3/3;
}

.hidden {
  display: none !important;
}

#checkpoint {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  font-size: 1.5rem;
}

#totpToken {
  margin: 50px;
}

.switch-to-landscape {
  display: none;
}

#fullscreen-toggle-button {
  right: 5px;
  position: absolute;
  background-size: 25px;
  top: 40px;
  width: 50px;
  height: 50px;
}

.enter-fullscreen {
  background: url(../img/enter_fullscreen.svg) no-repeat center center;
}

.exit-fullscreen {
  background: url(../img/exit_fullscreen.svg) no-repeat center center;
}

@media only screen and (min-device-width: 380px) and (max-device-width: 920px) {
  #game-container {
    align-items: unset;
    padding: 1px;
  }

  #board {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
  }

  .currentPlayer {
    left: 25px;
  }
}

@media screen and (orientation: portrait) {
  html,
  body {
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
  }

  #game-container {
    visibility: hidden;
  }

  .phone {
    height: 50px;
    width: 100px;
    border: 3px solid #000;
    border-radius: 10px;
    animation: rotate 2s ease-in-out infinite alternate;
  }
  
  .switch-to-landscape {
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    z-index: 999;
    font-weight: bold;
    font-size: large;
    text-align: center;
    height: 30vh;
    width: 100vw;
  }
}
